/*
Custom Css
*/
.announcement {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
  }

  .hightligt-text:hover {
        color: #64963A !important;
  }